blockquote,
body,
dd,
div,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
input,
li,
ol,
p,
pre,
ul {
	padding: 0;
	margin: 0
}
address,
caption,
cite,
code,
em,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
strong,
table,
td,
th {
	font-size: 1em;
	font-style: normal;
	font-weight: 400
}
strong {
	font-weight: 700
}
ol,
ul {
	list-style: none outside none
}
fieldset,
img {
	border: medium none;
	vertical-align: middle
}
caption,
th {
	text-align: left
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
body {
	font: 12px/20px "Hiragino Sans GB", "Microsoft Yahei", arial, 宋体, "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
	color: #333;
	background: #FFF none repeat scroll 0 0;
	min-width: 1200px
}
input,
select,
textarea {
	font: 12px/20px Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif
}
cite,
em,
i {
	font-style: normal
}
button,
input,
select,
textarea {
	outline: 0
}
html {
	min-height: 101%
}
a {
	color: #333;
	text-decoration: none;
	outline: medium none;
	-webkit-transition-property: color;
	-webkit-transition-duration: .3s;
	-webkit-transition-timing-function: ease
}
a:active,
a:link,
a:visited {
	text-decoration: none
}
a:hover {
	color: #C81623;
	text-decoration: none
}
.over_hidden {
	display: block;
	overflow-x: hidden;
	overflow-y: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}
.clearfix:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden
}
html[xmlns] .clearfix {
	display: block
}
*html .clearfix {
	height: 1%
}
time {
	color: #777
}
article,
aside,
dialog,
figure,
footer,
header,
menu,
nav,
section {
	display: block
}
.banner {
    width: 100%;
    height: 480px;
    overflow: hidden;
}
.banner img {
    width: 100%;
    height: 100%;
}
.main {
    width: 100%;
    background: #f3f3f3;
    font-family: "方正黑体简体";
}
.hijiintegral {
     width: 1200px;
     margin: 0 auto;
     overflow: hidden;
     background-color: #FFFFFF;
     margin-top: 3px;
 }
.hijiintegral-left {
    float: left;
    width: 215px;
    overflow: hidden;
}
.hijiintegral-a {
    margin: 0 auto;
    width: 1200px;
    height: 80px;
    background-color: #FFFFFF;
}
.hijiintegral-a span:first-child {
    display: inline-block;
    vertical-align: middle;
    height: 80px;
    line-height: 80px;
    font-size: 35px;
    color: #9437dd;
    margin-left: 12px;
}
.hijiintegral-a span:nth-child(2) {
    display: inline-block;
    vertical-align: middle;
    height: 80px;
    line-height: 80px;
    font-size: 20px;
    margin-left: 160px;
    color: #000;
}
.hijiintegral-a span:last-child {
    display: inline-block;
    vertical-align: middle;
    height: 80px;
    line-height: 80px;
    font-size: 20px;
    margin-left: 50px;
    color: #000;
}
.hijiintegral-left-a {
    margin-top: 25px;
    width: 211px;
    height: 110px;
    background: url("./fixation/images/hijiintegral1.png");
    background-size: contain;
}
.hijiintegral-left-a p {
    width: 147px;
    height: 60px;
    padding-top: 39px;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    margin-left: 38px;
    overflow: hidden;
}
.hijiintegral-left-b {
    width: 210px;
    height: 38px;
    line-height: 32px;
    text-align: center;
    font-size: 14px;
    background: url("./fixation/images/hijiintegral2.png");
    background-size: contain;
    margin-top: 25px;
}
a {
    text-decoration: none;
}
.hijiintegral-b {
    height: 200px;
    border-bottom: 1px solid #e6e6e6;
}
.hijiintegral-c {
    height: 150px;
    border-bottom: 1px solid #e6e6e6;
}
.hijiintegral-c p {
    margin-top: 10px;
    font-size: 15px;
    color: #000000;
    text-align: center;
    height: 20px;
}
.hijiintegral-left-c {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    margin-top: 20px;
}
.hijiintegral-left-c img {
    width: 100%;
    height: 100%;
}
.hijiintegral-d {
    height: 120px;
    border-bottom: 1px solid #e6e6e6;
}
.hijiintegral-left-d {
    width: 142px;
    font-size: 14px;
    color: #333333;
    margin-left: 38px;
    padding-top: 20px;
}
.hijiintegral-d p {
    height: 20px;
    overflow: hidden;
}
.hijiintegral-right {
    float: left;
    width: 910px;
    overflow: hidden;
    color: #333333;
    margin-left: 20px;
}
.hijiintegral-right-a {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.hijiintegral-right-a1 {
    position: relative;
    height: 32px;
    margin-bottom: 10px;
    border-bottom: 1px solid #9737d9;
    line-height: 32px;
    font-size: 18px;
}
.hijiintegral-right-a1:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 1px;
    width: 100%;
    height: 3px;
    background: #9737d9;
}
.hijiintegral-right-b {
    width: 100%;
    font-size: 14px;
    height: 20px;
}
.hijiintegral-right-c {
    width: 908px;
    height: 285px;
    border: 1px solid #b3b3b3;
    overflow: hidden;
}
.hijiintegral-right-c1 {
    width: 360px;
    height: 245px;
    margin-left: 22px;
    margin-top: 20px;
    float: left;
}
.hijiintegral-right-c1 img {
    width: 100%;
    height: 100%;
}
.hijiintegral-right-c2 {
    float: left;
    width: 278px;
    font-size: 14px;
    margin-top: 30px;
    margin-left: 20px;
}
.hijiintegral-right-c2 p:first-child {
    text-align: center;
}
.hijiintegral-right-c2 p:nth-child(2) {
    text-align: center;
}
.hijiintegral-right-c2 p:last-child {
    margin-top: 20px;
    text-align: right;
}
.hijiintegral-right-d {
    margin-top: 18px;
    overflow: hidden;
    margin-bottom: 20px;
}
.hijiintegral-right-d1 {
    width: 665px;
    height: 395px;
    float: left;
}
.hijiintegral-right-d1 img {
    width: 100%;
    height: 100%;
}
.hijiintegral-right-d2 {
    float: left;
    width: 237px;
    height: 378px;
    margin-top: 10px;
    margin-left: 8px;
}
.hijiintegral-right-d2 img {
    width: 100%;
    height: 100%;
}
.hijiintegral-bottom {
    height: 82px;
    width: 1200px;
    margin: 0 auto;
    color: #9537e1;
    overflow: hidden;
    line-height: 82px;
    border-bottom: 1px solid #f3f3f3;
    border-top: 1px solid #f3f3f3;
}
.hijiintegral-bottom span:first-child {
    margin-left: 35px;
    font-size: 35px;
}
.hijiintegral-bottom span:last-child {
    font-size: 27px;
}
.hijiintegral-explain {
    width: 100%;
    overflow: hidden;
}
.hijiintegral-explain-a {
    margin-top: 10px;
    width: 318px;
    height: 430px;
    float: left;
}
.hijiintegral-explain-a img {
    width: 100%;
    height: 100%;
}
.hijiintegral-explain-b ul {
    overflow: hidden;
}
.hijiintegral-explain-b ul>li {
    float: left;
    width: 180px;
    height: 133px;
    margin: 0px 20px;
}
.hijiintegral-explain-b ul>li>p {
    margin: 0 auto;
    width: 150px;
    text-align: center;
    height: 20px;
    overflow: hidden;
}
.hijiintegral-explain-b ul>li>p:first-child {
    margin-top: 78px;
    font-size: 18px;
}
.hijiintegral-explain-b ul>li>p:last-child{
    margin: 0 auto;
    font-size: 14px;
}
.hijiintegral-explain-b ul>li:first-child {
    background: url("./fixation/images/hijiintegral4.png");
    background-size: contain;
}
.hijiintegral-explain-b ul>li:nth-child(2) {
    background: url("./fixation/images/hijiintegral5.png");
    background-size: contain;
}
.hijiintegral-explain-b ul>li:nth-child(3) {
    background: url("./fixation/images/hijiintegral6.png");
    background-size: contain;
}
.hijiintegral-explain-b ul>li:last-child {
    background: url("./fixation/images/hijiintegral7.png");
    background-size: contain;
}
.provide-right-b {
    width: 100%;
    height: 112px;
    overflow: hidden;
}
.provide-right-b img {
    width: 100%;
}