blockquote,
body,
dd,
div,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
input,
li,
ol,
p,
pre,
ul {
	padding: 0;
	margin: 0
}
address,
caption,
cite,
code,
em,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
strong,
table,
td,
th {
	font-size: 1em;
	font-style: normal;
	font-weight: 400
}
strong {
	font-weight: 700
}
ol,
ul {
	list-style: none outside none
}
fieldset,
img {
	border: medium none;
	vertical-align: middle
}
caption,
th {
	text-align: left
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
body {
	font: 12px/20px "Hiragino Sans GB", "Microsoft Yahei", arial, 宋体, "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
	color: #333;
	background: #FFF none repeat scroll 0 0;
	min-width: 1200px
}
input,
select,
textarea {
	font: 12px/20px Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif
}
cite,
em,
i {
	font-style: normal
}
button,
input,
select,
textarea {
	outline: 0
}
html {
	min-height: 101%
}
a {
	color: #333;
	text-decoration: none;
	outline: medium none;
	transition: color .3s ease;
	-webkit-transition: color .3s ease;
	-moz-transition: color .3s ease;
	-ms-transition: color .3s ease;
	-o-transition: color .3s ease;
}
a:active,
a:link,
a:visited {
	text-decoration: none
}
a:hover {
	color: #C81623;
	text-decoration: none
}
.over_hidden {
	display: block;
	overflow-x: hidden;
	overflow-y: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}
.clearfix:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden
}
html[xmlns] .clearfix {
	display: block
}
*html .clearfix {
	height: 1%
}
time {
	color: #777
}
article,
aside,
dialog,
figure,
footer,
header,
menu,
nav,
section {
	display: block
}
.banner {
    width: 100%;
    height: 480px;
    overflow: hidden;
}
.banner img {
    width: 100%;
    height: 100%;
}
.main {
    width: 100%;
    background: #f3f3f3;
    font-family: "方正黑体简体";
}
/* Slider */
.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}
.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}
.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
.mxj-main {
    width: 1180px;
    margin: 0 auto;
    padding: 20px 20px 20px 0;
    background: #fff;
}
.mxj-aside {
    float: left;
    width: 148px;
}
.mxj-nav li {
    width: 148px;
    height: 44px;
    margin-bottom: 10px;
    line-height: 44px;
    text-align: center;
    background: url(./fixation/images/mxj/mxj_nav_bg.png);
}
.mxj-nav li a {
    display: block;
    font-size: 18px;
}
.find-car {
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.find-car .title {
    height: 38px;
    border-bottom: 1px dashed #ccc;
    text-align: center;
    font-size: 18px;
    color: #9737d9;
    line-height: 38px;
}
.car-price {
    padding-left: 8px;
    border-bottom: 1px dashed #ccc;
    overflow: hidden;
}
.car-price .price-title {
    margin-left: 4px;
    height: 24px;
    line-height: 24px;
    color: #333;
    font-size: 14px;
}
.car-price dd {
    float: left;
    width: 69px;
    text-align: left;
}
.car-price dd a {
    color: #666;
}
.car-price dd a:hover {
    text-decoration: underline;
    color: #c81623;
}
.sort-title {
    overflow: hidden;
}
.sort-title h1 {
    float: left;
    margin-left: 12px;
    height: 24px;
    line-height: 24px;
    color: #333;
    font-size: 14px;
}
.sort-title a {
    float: right;
    height: 24px;
    margin-right: 6px;
    line-height: 24px;
    color: #666;
}
.sort-title a:hover {
    color: #c81623;
}
.car-sort-list {
    overflow: hidden;
}
.car-sort-list li {
    float: left;
    width: 54px;
    height: 48px;
    margin: 0 9px;
}
.car-sort-list li span:first-child {
    display: block;
    height: 29px;
    overflow: hidden;
}
.car-sort-list li span:last-child {
    display: block;
    height: 19px;
    line-height: 19px;
    text-align: center;
}
.car-sort-list img {
    width: 100%;
    height: 100%;
}
.mxj-detail {
    margin-left: 168px;
}
.mxj-part1 {
    border: 1px solid #ddd;
    padding: 10px 0 15px 0;
}
.mxj-part1 .title {
    display: flex;
    justify-content: center;
}
.mxj-part1 h1 {
    position: relative;
    height: 32px;
    margin-bottom: 10px;
    border-bottom: 1px solid #9737d9;
    line-height: 32px;
    font-size: 18px;
}
.mxj-part1 h1:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 1px;
    width: 100%;
    height: 3px;
    background: #9737d9;
}
.mxj-part1 p {
    padding: 0 15px;
    text-indent: 2em;
    font-size: 14px;
}
.mxj-part2 {
    margin: 15px 0;
}
.mxj-part2 .title {
    position: relative;
    height: 18px;
    margin-bottom: 15px;
    line-height: 18px;
    margin-left: 15px;
    font-size: 18px;
}
.mxj-part2 .title::before {
    content: "";
    position: absolute;
    left: -5px;
    top: 0;
    width: 3px;
    height: 18px;
    background: #9737d9;
}
.car-list {
    margin-left: -12px;
    overflow: hidden;
}
.car-list li {
    position: relative;
    float: left;
    width: 244px;
    height: 158px;
    margin-left: 12px;
    border-radius: 3px;
    overflow: hidden;
}
.car-list li img {
    width: 100%;
    height: 100%;
}
.car-title {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 234px;
    color: #fff;
    font-size: 14px;
}
.cart-price {
    position: absolute;
    bottom: 10px;
    right: 5px;
    width: 100px;
    height: 25px;
    border: 1px solid #fff;
    border-radius: 5px;
    line-height: 25px;
    color: #f00;
    font-size: 0;
}
.cart-price span {
    display: inline-block;
    width: 50px;
    height: 25px;
    text-align: center;
    font-size: 14px;
}
.cart-price span:first-child {
    width: 49px;
    border-right: 1px solid #fff;
}
.mxj-part3-title {
    height: 26px;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 26px;
}
.current-city {
    float: left;
}
.current-city em {
    display: inline-block;
    padding-right: 35px;
    background: url(./fixation/images/mxj/city_bg.png) 45px 6px no-repeat;
}
.position {
    float: right;
    height: 24px;
    border: 1px solid #999;
    border-radius: 5px;
    line-height: 24px;
    color: #999;
}
.position i {
    display: inline-block;
    width: 13px;
    height: 16px;
    margin: 0 5px 0 5px;
    vertical-align: middle;
    background: url(./fixation/images/mxj/position_bg.png) no-repeat;
}
.position span {
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
}
.house-list {
    display: flex!important;
    justify-content: space-between;
}
.house-list li {
    float: left;
    width: 175px;
    height: 205px;
    padding: 5px 6px;
    border: 2px solid #8ba8c2;
}
.house-img {
    width: 175px;
    height: 132px;
    overflow: hidden;
}
.house-img img {
    width: 100%;
    height: 100%;
}
.house-title {
    height: 32px;
    line-height: 16px;
    font-size: 14px;
    overflow: hidden;
}
.house-title a {
    color: #666;
}
.house-title a:hover {
    color: #c81623;
    text-decoration: underline;
}
.house-price {
    height: 25px;
    margin-top: 5px;
    line-height: 20px;
    text-align: right;
    font-size: 14px;
}
.house-price span {
    font-size: 26px;
    font-weight: 700;
    color: #00aff0;
}
.slick-dots {
    margin-top: 15px;
    text-align: center;
}
.slick-dots li {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-left: 5px;
    border: 1px solid #9737d9;
    border-radius: 50%;
}
.slick-dots li:hover {
    cursor: pointer;
}
.slick-dots li.slick-active {
    background: #9737d9;
}
.slick-dots li button {
    display: none;
}
.mxj-part4 {
    margin: 25px 0;
}
.mxj-part4 p {
    text-indent: 2em;
    font-size: 14px;
    color: #333;
    line-height: 18px;
}
.mxj-part4 p span {
    display: block;
    text-align: center;
    font-size: 18px;
}