.aside-nav {
    float: left;
    width: 185px;
    margin-right: 20px;
    border: 2px solid #eee;
}

.subside-in .h3-title {
    height: 40px;
    line-height: 42px;
    font-size: 18px;
    letter-spacing: 1px;
    color: #fff;
    text-align: center;
    background: #912edd;
    font-family: "方正黑体简体";
}

.subside-in .subside-mod {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin-top: -1px;
}

.subside-in .subside-mod .title {
    padding: 10px 30px 10px 15px;
    background-color: #fff !important;
    margin-top: 1px;
    font-size: 16px;
    font-family: "microsoft yahei";
    position: relative;
}

.subside-in .subside-cnt {
    display: none;
    background-color: #eee;
}

.subside-in .subside-mod .icon02 {
    border-style: solid dashed solid dashed;
    border-color: #999 #0000 #999 #0000;
    border-width: 5px 5px 0;
    position: absolute;
    top: 22px;
    right: 20px;
    font-size: 0;
    line-height: 0;
    height: 0;
    overflow: hidden;
}

.subside-in .subside-list .list-item {
    height: 40px;
    line-height: 40px;
    padding-left: 45px;
    font-size: 15px;
}

.subside-in .subside-list .list-item a {
    color: #333;
}

.subside-in .on .subside-cnt {
    display: block;
}

.subside-in .subside-mod .title:hover,
.subside-in .on .title {
    cursor: pointer;
    background-color: #dadada;
}

.subside-in .on .icon02 {
    border-width: 0 5px 5px;
}

.subside-in .subside-list .list-item.current a:link,
.subside-in .subside-list .list-item.current a:visited {
    font-weight: bold;
    color: #9737df;
}

.subside-in .subside-list .list-item a:hover {
    color: #9737df;
    font-weight: bold;
}

.aside-banner {
    width: 185px;
    height: 140px;
    margin-top: 10px;
    overflow: hidden;
}

.aside-banner img {
    width: 100%;
    height: 100%;
}

.self-tool {
    margin-top: 10px;
}

.pagination li span.currentpage {
    color: #FFF;
    font-weight: 600;
    background-color: #9737df;
    border-color: #9737df;
}

.service-a span:last-child {
    color: #9737df;
}

.pagination li a span, .pagination li a:visited span {
    color: #777;
    text-decoration: none;
    cursor: pointer;
}

.pagination li span {
    color: #fff;
    background-color: #aaa;
}

.pagination li a:hover span, .pagination li a:active span {
    color: #9737df;
}

.service-answer li a:hover {
    color: #9737df;
    text-decoration: none;
}