
blockquote,
body,
dd,
div,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
input,
li,
ol,
p,
pre,
ul {
    padding: 0;
    margin: 0
}
address,
caption,
cite,
code,
em,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
strong,
table,
td,
th {
    font-size: 1em;
    font-style: normal;
    font-weight: 400
}
strong {
    font-weight: 700
}
ol,
ul {
    list-style: none outside none
}
fieldset,
img {
    border: medium none;
    vertical-align: middle
}
caption,
th {
    text-align: left
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
body {
    padding: 0px;
    font-size: 12px;
    line-height: 1.5em;
    font-family: tahoma, "Microsoft YaHei", Simsun, Mingliu, Arial, Helvetica;
    color: #333;
    background: #f6f6f6;
    width: 100%;
    min-width: 1200px;
}
input,
select,
textarea {
    font: 12px/20px Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif
}
cite,
em,
i {
    font-style: normal
}
button,
input,
select,
textarea {
    outline: 0
}
html {
    min-height: 101%
}
a {
    color: #333;
    text-decoration: none;
    outline: medium none;
    transition: color .3s ease;
    -webkit-transition: color .3s ease;
    -moz-transition: color .3s ease;
    -ms-transition: color .3s ease;
    -o-transition: color .3s ease;
}
a:active,
a:link,
a:visited {
    text-decoration: none
}
a:hover {
    color: #C81623;
    text-decoration: none
}
.over_hidden {
    display: block;
    overflow-x: hidden;
    overflow-y: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden
}
html[xmlns] .clearfix {
    display: block
}
*html .clearfix {
    height: 1%
}
time {
    color: #777
}
article,
aside,
dialog,
figure,
footer,
header,
menu,
nav,
section {
    display: block
}
.banner {
    width: 100%;
    height: 480px;
    overflow: hidden;
}
.banner img {
    width: 100%;
    height: 100%;
}
.main {
    width: 1160px;
    margin: 0 auto;
    padding: 20px 20px 40px;
    overflow: hidden;
    zoom: 1;
}
body {
    background: #fff;
}
.service {
    width: 100%;
    background: url(/member/fixation/images/service/service.jpg) 50% no-repeat;
    height: 560px;
    margin: auto;
}
.service::before {
    content: "";
    display: table;
}
.sle-way-box {
    width: 380px;
    margin: 315px auto 0;
}
.sle-way-box a {
    display: inline-block;
    background-image: url(/member/fixation/images/service/service_btn.png);
    width: 178px;
    height: 44px;
}
.sle-way-box .buy {
    background-position: 0 0;
}
.sle-way-box .buy:hover {
    background-position: 0 -44px;
}
.sle-way-box .sale {
    margin: 0 0 0 20px;
    background-position: -178px 0;
}
.sle-way-box .sale:hover {
    background-position: -178px -44px;
}
