@charset "utf-8";
/* CSS Document */

* {
    margin:0;
    padding:0;
}
body { padding:0px;
    font-size: 12px;
    line-height: 1.5em;
    font-family: tahoma, "Microsoft YaHei", Simsun, Mingliu, Arial, Helvetica;
    color: #333333;
    background:#FFF none repeat scroll 0 0;
    width:100%;
    overflow-x:hidden;
}
img {
    border:0;
    vertical-align:middle;

}
ul,li{
    list-style-type: none;
}
table,td{
    border-collapse:collapse
}
input,button{outline:none;}
address,em{
    font-style:normal;
}
a{
    color:#333333;
    text-decoration:none;
}
a:focus {
    outline:none;
}
a:hover{
    color:#000;
    text-decoration:none;
}
.clear{
	clear: both;
}
.wrap_height{
    height: 36px;
}

.wrap_color{
    font-family: Arial, 宋体;
    line-height: 20px;
    color: rgb(119, 119, 119);
    background-color: rgb(248, 151, 135);
}
.wrap_nav{
    width: 1200px;
    margin: auto;
}
.wrap_h{
	display: inline-block;
    width: 100%;
    height: 150px;
    margin-top: 10px;
    overflow: hidden;
}

/*公共样式结束*/
.wrap_nav .nav_logo {
    position: relative;
    margin-left: 20px;
    padding-top: 25px;
}

.wrap_nav .nav_logo>a{
    display: block;
    width: 313px;
    height: 70px;
    float: left;
    background: url("../images/haituizhuc.png") no-repeat center/100%;
}
.nav_search{
	width: 185px;
	float: right;
    margin-top: 15px;
    border-radius: 50px;
    background: #ddd;
    padding: 5px 20px;
    position: relative;
}
.nav_search input{
	border: none;
    height: 21px;
    background: #ddd;
}

.nav_search .button{
	cursor: pointer;
	border:none;
	margin-top: 5px;
	height: 21px;
    width: 21px;
    background: url(../images/search.png) no-repeat ;
    position: absolute;
}
.nav-menu ul li>a{
	float: left;
    padding: 8px 25px;
    font-size: 13px;
    font-weight: bold;
}
.nav-menu ul li a i{
	display: inline-block;
    padding: 5px 0 0 10px;
    width: 8px;
    height: 5px;
    background:url(../images/xiajiao.png) no-repeat center;
}
.nav-menu ul li a:hover i{
	background:url(../images/xiajiao2.png) no-repeat center;
}
.nav-menu ul li>a:hover{
	color: #fff;
	background-color: #de7b6a;
}
.swiper-container {
	text-align: center;
	width: 100%;
    height: 481px;
    display: block;
    float: left;
}

/*广告*/
.advert-menu{overflow: hidden;height: 206px;margin-top: 5px;}
.advert-menu ul li>a{
	float: left;
	width: 235px;
	height: 206px;
	margin-right: 5px;
}

.advert-menu ul li:last-child a{
	margin-right:0
}

/*今日疯抢*/
.tab{width: 100%;margin:35px 0;display: inline-flex;justify-content: center;}
.tab li{
	cursor: pointer;
	width: 141px;
	padding: 14px 45px;
	border: 1px solid #666666;
	font-size: 20px;
	text-align: center;
	position: relative;
}
.box ul{
	width: 100%;
	overflow: hidden;
	display: inline-flex;
	justify-content: space-between;
}
.box ul li>a{
	display: block;
	height: 318px;
	width: 585px;
}
.origin .mengcen{
	position: absolute;
    width: 100%;
    height: 35px;
    background: rgba(0,0,0,.6);
    bottom: 0;
    color: #dcdcdc;
    padding-left: 45px;
    line-height: 35px;
    box-sizing: border-box;
}
.pic{
	width: 100%;
    height: 35px;
    line-height: 35px;
    padding-left: 30px;
    box-sizing: border-box;
    font-size: 14px;
}
.pic_span{
	font-size: 20px;
    font-weight: bold;
    color: red;
}
.pic_icon{
	float: right;
    margin-right: 15px;
    display: inline-block;
    width: 68px;
    text-align: right;
    background: url(../images/time.png) no-repeat left;
}
.activity{
	width: 50%;
	height: 544px;
	overflow: hidden;
	float: left;
}
.activity dl dt a{
	float: left;
	width: 195px;
	height: auto;
}
.activity dl dd a{
	float: left;
	position: relative;
	display: block;
	width: 196px;
	height: 182px;
	box-sizing: border-box;
}
.activity dl dd a p{
	width: 100%;
    text-align: center;
    position: absolute;
    bottom: 30px;
    box-sizing: border-box;
    white-space: nowrap;
    padding: 5px 30px 0;
    line-height: 25px;
    font-size: 13px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.pics{
	margin-top: 10px;
	width: 100%;
	display: inline-flex;
	overflow: hidden;
	justify-content: space-between;
}
.pics a{
	display: block;
	width: 392px;
	height: 183px;
}
.naice_top{
	width: 100%;
	overflow: hidden;
	display: inline-flex;
	justify-content: space-between;
	margin: 15px 0 0;
}
.naice_top>a{
	display: block;
	width: 595px;
	height: 238px;
}
.naice_top>div{
	width: 33%;
	height: 382px;
}
.naice_left>a,.naice_right>a{
	display: block;
	width: 100%;
	height: 182px;
}
.naice_left .naice_top>a{
	width: 195px;
	height: 185px;
}
.naice_right .naice_top>a{
	width: 125px;
	height: 185px;
}
/*热门分类*/
.ification_top{overflow: hidden;}
.ification_top h2{
	width: 30%;
	float: left;
	font-size: 22px;
    margin: 30px 0;
    padding-left: 12px;
    line-height: 22px;
    border-left: 7px solid #f89787;
}
.ification_top ul{
	width: 60%;
    float: right;
    display: inline-flex;
    justify-content: flex-end;
}
.ification_top ul li{
	float: left;
    padding:30px 0;
    margin-left: 20px;
}
.ification_content dl dt a{
	float: left;
	display: inline-block;
	width: 220px;
	height: 570px;
}
.ification_content dl dd a{
	float: left;
	display: inline-block;
	width: 225px;
	height: 280px;
	margin-left: 20px;
	margin-bottom: 10px;
}
.ification_content dl dd p{
	width: 100%;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 13px;
    color: #000;
}
.ification_content dl dd p span{
	font-size: 18px;
	font-weight: bold;
	color: #ff1f1f;
}
/*底部*/
.end {
	overflow: hidden;
    width: 1200px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 26px;
    color: #b8b8b8;
    position: relative;
    margin: 10px auto 20px;
}
.end:before {
    content: "";
    width: 12px;
    height: 4px;
    position: absolute;
    background: #b8b8b8;
    display: block;
    top: 13px;
    left: 555px;
}
.end:after {
    content: "";
    width: 12px;
    height: 4px;
    position: absolute;
    background: #b8b8b8;
    display: block;
    top: 13px;
    right: 555px;
}


/*点击样式*/
.active:after{
    position: absolute;
    left: 45%;
    bottom: -11px;
    content: '';
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #666666;
}
.active{
	background-color: #666666;
	color: #fff;
}
/*点击样式*/


/*朦层*/
.origin,.hover_origin{
	position: relative;
}
.hover_top{
	transition: all 1s;
    position: absolute;
    width: 100%;
    top: 0;
}
.hover_origin:hover .hover_top{
	height: 100%;
	background-color:#fff;
	filter:Alpha(Opacity=30);
	opacity:0.3;
}

.marquee-wrap {
      position: absolute;
      width: 235px;
      height: 25px;
      line-height: 25px;
      overflow: hidden;
      background: #fff;
      top: 70px;
      left: 80px;
      text-align: center;
    }

    .marquee-wrap ul {
      position: absolute;
    }

    .marquee-icon {
        overflow: hidden;
        float: left;
    }

    .marquee-icon li {
      font-size: 18px;
      color: #9737df;
      font-weight: bold;
      font-family: "FZQiTi-S14S"
    }